* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: #00ff00;
    background-image: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}

.bar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #00ff00;
}

.cpu, .ram, .battery, .network, .clock {
    padding: 0 8px;
}
