* {
    font-family: "JetBrainsMono Nerd";
    font-size: 13px;
    color: #00d4c4;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 1px solid #a64eff;
}

.notification {
    background-color: rgba(0, 0, 0, 0.9);
    border-left: 3px solid #a64eff;
    padding: 10px;
}

.notification-title {
    font-weight: bold;
    color: #4b0082;
}

.notification-body {
    color: #008080;
}

.control-center {
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid #4b0082;
}

.control-center .notification {
    margin-bottom: 10px;
}

.widget-title {
    color: #008080;
    font-weight: bold;
}
